@import url("https://fonts.googleapis.com/css2?family=Asul&family=Crimson+Text:wght@400;600&family=Dancing+Script:wght@400;600&family=Kalam:wght@300&family=Lato:wght@300;400&family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&family=Nunito+Sans:wght@300;600&family=Roboto:wght@300;700&family=Ubuntu:wght@300;400&display=swap");
:root {
  --primary-color: darksalmon;
  --font-color: rgb(70, 8, 21);
  --secondary-color: rgb(255, 115, 0);
  --link-active-color: rgb(55, 4, 137);
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: var(--font-color);
}
main {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}
/* Navigation */
.navigation {
  background-color: var(--primary-color);
  padding: 1rem;
}
.nav-header {
  text-align: left;
  margin-top: 0;
}
.list-item-non-bullet {
  list-style: none;
  text-align: right;
  font-size: 1.2rem;
}
.inline-list-item {
  display: inline;
  padding: 1rem;
}
/* links */
.link {
  text-decoration: none;
  color: var(--font-color);
}
.link-active {
  color: var(--link-active-color);
}
/* form */
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: 1.3rem;
}
#form input {
  border-radius: 0.4rem;
  padding: 0.7rem;
  font-size: large;
  text-align: center;
}
/* button */
button {
  font-family: "Lato", sans-serif;
  margin: 1rem;
  min-width: 10%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  color: var(--font-color);
  background-image: linear-gradient(to right, var(--primary-color), #ff3f8f);
}
button:hover {
  cursor: pointer;
}
/* footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer-head {
  font-size: 1.3rem;
}
.icon {
  width: 2.5rem;
  padding: 0 0.5rem;
}

h4 {
  margin-top: 0.2rem;
}
/* quiz-form */
.quiz-form {
  font-size: 1.3rem;
}
.question-container {
  padding: 0.8rem;
}
.question-container input:hover {
  cursor: pointer;
}
.show-correctAns {
  padding-top: 1rem;
  color: rgb(245, 31, 31);
}
